body>.container {
    margin: 20px;
    padding: 20px;
    border-style: none;
}

.card>img {
    margin: 0.8rem;
    padding: 0.8rem;
    height: 20vh;
    object-fit: contain;
}

.bg-orange{
    background-color: orange;
}
.bg-indigo{
    background-color: indigo;
}
.bg-gray{
    background-color: lightgray;
}

.text-y{
    color: rgb(232, 202, 52);
}
.text-o{
    color: orange;
}
.text-i{
    color: indigo;
}
.text-p{
    color: blue;
}
